:root {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif ;
    border: border-box;
}

body {
    background: url(img/6079425.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    backdrop-filter: blur(20px);
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid rgb(194, 28, 28);
}

.navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 2em;
    letter-spacing: .5em;
}

 .navigation a {
    text-decoration: none;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: "Poppins";
    text-transform: uppercase;
    
}

.navigation a::after { 
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background: #1e9bff;
    box-shadow: 0 0 23px blue;
    border-radius: 5px;
    left: 0;
    top: 9.6899966em;
    transform: scaleX(0);
    transform-origin: left;
    transition: .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
}
 
.logo {
    position: relative;
   font-size: 40px;
   color: white;
   text-align: center;
   margin-top: 1em;
   text-transform: uppercase;
   font-weight: 100;
   transition: 1s;
   padding: 1em;
   background-color: #1e9bff;
   box-shadow: 0 0 35px white;
   letter-spacing: 0.4em;
}

.logo:hover {
    letter-spacing: 0.5em;
    box-shadow: 0 0 35px white;
}

.logo:hover::before {
    content: "⚖︎";
    
}

.logo:hover::after {
    content: "∜";
}


.homenagem_wrapper {
    text-align: center;
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 26px;
    border: 2px solid;
    position: fixed;
    bottom: 20vh;
    width: 400px;
    height: 440px;
    padding: 1em;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 0 0 35px rgb(44, 122, 224);
    background: transparent;
    backdrop-filter: blur(60px);
}

.homenagem_wrapper>p {
    position: relative;
    top: 2em;
}

.imagem {
    position: fixed;
    left: 12em;
    bottom: 15em;

}

.imagem>img {
    height: 340px;
    width: 340px;
    border-radius: 50%;
    border: 2px solid white;
    box-shadow: 0 0 35px white;
}


